<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css" />
  <title>OGLASI</title>
</head>
  <body>
    <h1><%= naslov %></h1>
    
    <form action="/createOglas" method="post" class="form-container">
      <label for="kategorija">Категорија:</label>
      <input type="text" id="kategorija" name="kategorija">
      <label for="vid">Вид:</label>
      <input type="text" id="vid" name="vid">
      <label for="opis">Опис:</label>
      <input type="text" id="opis" name="opis"><br><br>
      <label for="lokacija">Локација:</label>
      <input type="text" id="lokacija" name="lokacija">
      <label for="godina">Година:</label>
      <input type="number" id="godina" name="godina">
      <label for="cena">Цена:</label>
      <input type="number" id="cena" name="cena"><br>
      <button class="button" type="submit" name="createoglas">Креирај нов оглас</button>
    </form>

    <% if (oglasi.length === 0) { %>
      <p>Не се пронајдени огласи.</p>
    <% } else { %> <% oglasi.forEach(oglas =>{%>
        <div class="oglas">
          <a href="/viewOglasi/<%=oglas._id%>"></a>
          <p class="kategorija">Категорија: <%= oglas.kategorija %></p>
          <p class="vid">Вид: <%= oglas.vid %></p>
          <p class="opis">Опис: <%= oglas.opis %></p>
          <p class="lokacija">Локација: <%= oglas.lokacija %></p>
          <p class="godina">Година: <%= oglas.godina %></p>
          <p class="cena">Цена: <%= oglas.cena %></p>
        </div>
      <%}); %> <% } %>    
  </body>
</html>